@media only screen and (max-width: 750px) {

  html {
    scrollbar-width: thin;
    scrollbar-color: #444 #dbdbdb;
  }

  #content {
    display: flex;
    flex-direction: column;
    overflow-y:initial;
  }

  .filters-container {
    position: initial;
    width: auto;
  }
  
  .posts-container {
    margin-right: 0px;
  }

}

@media only screen and (max-width: 550px) {
    .modal {
        border-radius: 0px;
        height: 100vh;
        width: 100vw;
    }
  }

@media only screen and (max-height: 625px) {
    .modal {
        border-radius:0px;
        height: 100vh;
        width: 100vw;
    }
  }