@media only screen and (max-width: 550px) {
    .modal {
        border-radius:0px;
        height:100vh;
        width:100vw;
    }
  }

@media only screen and (max-height: 625px) {
    .modal {
        border-radius:0px;
        height:100vh;
        width:100vw;
    }
  }