@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --content-width-max: 1100px;
    --content-width-percent: 85%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f6f5;
    width: 100%;
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-between;*/
    height: 100vh;
}

#content {
    max-width: var(--content-width-max);
    width: var(--content-width-percent);
    display: grid;
    grid-template-columns: 225px 1fr;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #a6a6a6 #e8e8e8;
    margin: 25px 0px;
    gap:25px;
}

/***********************************************
*                    HEADER                    *
***********************************************/

header {
    background-color: #444444;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    max-width: var(--content-width-max);
    width: var(--content-width-percent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
}
nav > ul > li:last-of-type {
    margin-left: 30px;
}
nav ul a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.logo {
    cursor: default;
}

.dropdown {
    position:relative;
}

.dropdown-box {
    position:absolute;
    right:0;
    background-color:#444444;
    width:130px;
    border-radius: 0px 0px 7px 7px;
    padding-top:10px;
    height:0px;
    overflow:hidden;
    transition:0.25s;
}

.dropdown-box ul {
    flex-direction:column;
}

.dropdown-box li {
    padding:15px 0px;
    border-bottom:solid 1px #d0d0d0;
}

.dropdown-box li:last-of-type {
    border-bottom:none;
}

nav a:hover {
    text-shadow: 0px 0px white;
}


/***********************************************
*                    POSTS                     *
***********************************************/

.posts-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    grid-column: 2;
    margin-right: 25px;
}

.posts-container > p {
    text-align:center;
}

.post {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
}

.post-header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    border-bottom: solid 2px #a4a4a4;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #494949;
}

.post-header p:first-of-type {
    color: #393939;
    font-size: 23px;
}

.post-header > p:nth-of-type(even) {
    text-align: right;
}

.post-body-content {
    background-color: #646464;
    color: #6c6c6c;
    line-height: 1.75;
    padding: 10px;
    border-radius: 5px;
    background-color: #f7f7f7;
}

.post-role {
    font-size:21px;
}

/***********************************************
*                   FILTERS                    *
***********************************************/

.filters-container {
    padding: 25px;
    background-color: #ffffff;
    width: 225px;
    border-radius: 10px;
    position: fixed;
}

.filters-container > form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.filters-container > form > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#search-btn {
    width: 100%;
    background-color: #393939;
    color: #e3e3e3;
    border: none;
}

form select,
#search-btn {
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size:14px;
    cursor:pointer;
}

#search-btn:hover {
    background-color:#444444;
    color:white;
}
